.wrapper{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
}

.image{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    /* background-image: url(../public/assets/doodle.png); */
    background-position: center;
    background-size: cover;
}

.name{
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
}