.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #ff3939;
  background-image: url("../public/assets/test.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.cover {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  vertical-align: center;
}


.loginbox{
  position: absolute;
  top: 16vh;
  left: 39vw;
  z-index: 1000;
  height: 68vh;
  width: 22vw;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}


@media (max-width: 500px){
  .container{
    background-color: #ff3939;
    background-size: 150vh;
    background-position: top;
  }
  .loginbox{
    position: absolute;
    top: 20vh;
    left: 10vw;
    z-index: 1000;
    height: 60vh;
    width: 80vw;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
}