.wrapper{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}


.location{
    display: inline-flex;
    border-bottom: dotted 4px #616161;
    margin: 0 0 10px 0;
}

.from{
    font-weight: 700;
    color: #4d4d4d;
}

.arrow{
    font-family: "Poppins", sans-serif;
    margin-top: -12px;
    font-size: 26px;
    font-weight: 800;
}

.to{
    font-weight: 600;
    color: #696969;
}

.locedit{
    height: 28px;
    width: 28px;
    background-image: url(../public/assets/locedit.svg);
    background-repeat: no-repeat;
    background-size: contain;
}