.background{
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background-image: url(../public/assets/doodle.png),linear-gradient(#9B2121, #D82F2F 60%);
    background-size: 130%;
    background-position: center;
    background-blend-mode: multiply;
}

.navbar{
    position: sticky;
    top: 30px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.menu{
    width: 30px;
    background-image: url(../public/assets/menu.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.logo{
    width: 120px;
    background-image: url(../public/assets/logo-full.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.profile{
    width: 30px;
    background-image: url(../public/assets/profile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.container{
    position: absolute;
    bottom: 0;
    height: 70%;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    background-color: #F2F2F2;
    box-shadow: 0px -6px 16px #00000036;
}

.tabs{
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    background-color: #C62C2C;
    box-shadow: 0px -6px 16px #00000036;
}

