.wrapper{
    margin: 5px 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    border-radius: 10px;
    border: solid 0.1px #8a8a8a4d;
    box-shadow: 0px 4px 8px #5e5e5e75;
}

.image{
    height: auto;
    width: 25%;
    margin: 5px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}

.details{
    width: 75%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: end;
    padding: 10px;
}

.name{
    font-size: 12px;
    font-weight: 700;
    color: #1f1f1f;
}

.address{
    font-size: 10px;
    font-weight: 400;
    color: #383838;
}

.tags{
    font-size: 8px;
    font-weight: 500;
    color: #555555;
}

.info{
    align-self: flex-end;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.rating{
    font-size: 10px;
    font-weight: 500;
    color: #383838;
}

.reviews{
    font-size: 10px;
    font-weight: 500;
    color: #383838;
}